<div class="col-xs-12 m-t-20 m-b-20">
    <button type="button" class="btn btn-primary" (click)="add()">
        <span class="glyphicon glyphicon-plus"></span> Add
    </button>
</div>

<div *ngFor="let item of items | async"  class="col-xs-4 col-md-2">
    <div class="club-element cursor-pointer panel panel-primary" (click)="details(item.$key)">
        <div class="m-l-10 m-r-10">
            <img class="img-circle img-responsive center-block logo m-t-10" src="{{item.url}}">
        </div>
        <div class="item-name m-t-20">
            {{item.name}}
        </div>
    </div>
</div>